:root {
  --translatevalue: 230px;
}
.active {
  font-weight: bold;
  color: white;
}
.container {
  width: 95%;
  margin: auto;
  height: 100vh;
  display: flex;
  position: relative;
  /* overflow: hidden; */
}

.sidebar {
  flex: 1.8;
  background-color: #4352c8;
  height: 113%;
  /* margin: auto; */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  margin-top: 40px;
}
.sidebar div {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 5px 0;
  color: white;
  font-size: 1.5rem;
  /* margin: left 20px; */
}
.sidebar span {
  font-size: 1.2rem;
}
.mainContent {
  flex: 8;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  height: 90px;
  padding-left: 50px;
  padding-right: 80px;
  border-bottom: 1px solid rgb(227, 221, 221);
  font-size: 1.3rem;
  color: gray;

}
.profile {
  width: 10%;
}
.profile > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 15px;
  cursor: pointer;
}
.profile > img + h6 {
  cursor: pointer;
}
.links {
  color: black;
  text-decoration: none;
}
.profile {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.popup {
  position: absolute;
  top: 100%;
  right: 0;
  color: black;
  width: 200%;
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.popup > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.popup > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-top: 1px solid rgb(223, 220, 220);
}
.popup > div > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}
.popup > p {
  margin: 0;
  margin-top: 5px;
}
.popup .email {
  color: rgb(162, 158, 158);
  margin: 0;
  font-size: 1rem;
  margin-top: 10px;
}
.popup > button {
  background-color: red;
  border: none;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 12px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}
.chat {
  transform: translateY(var(--translatevalue));
  width: 250px;
  position: fixed;
  bottom: 0;
  right: 50px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.chatheader {
  background-color: #4352c8;
  padding: 15px;
  color: white;
  cursor: pointer;
}
.users {
  height: 230px;
  overflow-y: scroll;
}
.user {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
.user > img {
  width: 30px;
  border-radius: 50%;
}
